*{
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  background: #34454D;
}
span{
  display: block;
  padding: 10px;
  color: #666666;
  background: #34454d;
  color: #fff;
}
table{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
table thead{
  background: #34454d;
  color: #fff;
}
table thead tr{
  padding: 0;
  margin: 0;
}
table thead tr th{
  cursor: pointer;
  padding: 4px 0px;
}
table thead tr th:last-child{
  width: 160px;
}

table tbody{
  background: #e7f0fb;
}
table tbody tr{
  transition: all 0.3s ease;
}
table tbody tr:hover{
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}
table tbody tr td{
  font-size: 13px;
}
table tbody tr td:last-child{
  display: flex;
}
table tbody tr td img{
  width: 34px;
  height: 34px;
}
table tbody tr td a{
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease;
}
table tbody tr td a:first-child{
  background: #1AA160;
}
table tbody tr td a:first-child:hover{
  background: #15824e;
}
table tbody tr td a:last-child{
  background: #DC4D41;
}
table tbody tr td a:last-child:hover{
  background: #ba4137;
}

table tbody tr td .btn_certificado{
  background: #22A6F2 !important;
}

#datatable_wrapper{
  background: #34454d;
}
#datatable_wrapper #datatable_filter{
  float: right;
  display: inline;
  color: #b3b3b3;
}
#datatable_wrapper #datatable_filter input{
  margin-right: 5px;
}
#datatable_wrapper .dataTables_length{
  display: inline;
  color: #b3b3b3;
}
#datatable_wrapper .dataTables_length select{
  background: #34454d;
  border-style: none;
  outline: 0;
  color: #fff;
}
#datatable_wrapper .dataTables_paginate{
  display: flex;
  justify-content: center;
  align-items: center;
}
#datatable_wrapper .dataTables_paginate a{
  border: none;
  outline: 0;
  border-style: none;
  cursor: pointer;
}
#datatable_wrapper .dataTables_info{
  padding: 0;
  margin-top: 20px;
  color: #b3b3b3;
}


.contendor_eliminar,
.contendor_modal,
.contendor_modal_aceptar{
/*  display: flex;*/
  display: none;
  justify-content: center; align-items: center;
  position: fixed;
  z-index: 10000;
  background: rgba(0,0,0,0.9);
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
}
.contendor_eliminar .eliminar,
.contendor_modal .eliminar,
.contendor_modal_aceptar .eliminar{
  border-radius: 5px;
  background: #34454D;
  padding: 30px;
  text-align: center;
}
.contendor_eliminar .eliminar span,
.contendor_modal .eliminar span,
.contendor_modal_aceptar .eliminar span{
  background: rgba(0,0,0,0);
  margin: 0 0 30px 0;
  font-weight: bold;
}
.contendor_eliminar .eliminar input,
.contendor_eliminar .eliminar select{
  font-weight: bold;
  width: 45%;
  border-style: none;
  padding: 10px;
  margin: 0 8px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: normal;
}
.contendor_eliminar .eliminar select{
  padding: 7px;
}
.contendor_eliminar .eliminar input:nth-child(3),
.contendor_modal .eliminar input:nth-child(3),
.contendor_modal_aceptar .eliminar input:nth-child(3){
  background: #0B7FC6;
  color: #fff;
}


.contendor_eliminar form{
  display: flex; flex-direction: column;
  width: 100%;
}
.contendor_eliminar form .fil{
  display: flex;
  width: 100%; height: 30px;
  margin: 5px 0;
}
.contendor_eliminar form .fil span{
  display: flex; justify-content: flex-end; align-items: center;
  min-width: 210px; height: 100%;
}
.contendor_eliminar form .fil input{
  display: flex; justify-content: flex-start; align-items: center;
  width: 100%; height: 100%;
}