*{
  line-height: 0px;
}
body{
  width: 110%; height: 100vh;
  background: url(../img/fondo_certificado.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

p{
  color: #77777A;
  font-size: 20px;
  text-align: center;
  padding: 0 100px;
}
br{
  margin: 0px; padding: 0px;
}

table{
  width: 100%; text-align: center;
  padding: 0 80px;
}